@model TblCMSNavYetkiViewModel
@using CrudProject.ViewModels



<div class="row">
    <div class="col-md-8"></div>
    <div class="col-md-4">
    </div>
</div>
<div id="gridContainer">
</div>

@section Scripts{

    <script type="text/javascript">
        $(document).ready(function () {
            var model = @Html.Raw(JsonConvert.SerializeObject(Model.TblCmsnavYetkis));
            var navigation = @Html.Raw(JsonConvert.SerializeObject(Model.TblCmsappNavigations));
            GridData(model,navigation)
        });
        function GridData(models, navigation) {
            $("#gridContainer").dxDataGrid({
                dataSource: models,

                columns: [
                    {
                        dataField: "Id",
                    },
                    {
                        dataField: "IsletmeId",
                        caption: "IsletmeId"
                    },
                    {
                        dataField: "FirmaId",
                        caption: "FirmaId",
                    },
                    {
                        dataField: "SubeId",
                        caption: "SubeId"
                    },
                    {
                        dataField: "KullaniciId",
                        caption: "KullaniciId",

                    },
                    {
                        dataField: "KulGrupId",
                        caption: "KulGrupId",

                    },
                    {
                        dataField: "NavigationId",
                        caption: "NavigationId",
                        lookup: {
                          dataSource: navigation,
                          displayExpr: 'Name',
                          valueExpr: 'Id',
                        }
                    },
                    {
                        dataField: "Yil",
                        caption: "Yil",

                    },
                    {
                        dataField: "Aktif",
                        caption: "Aktif"
                    },
                    {
                        dataField: "Guid",
                        caption: "Guid"
                    },
                    {
                        dataField: "Silindi",
                        caption: "Silindi"
                    },
                    {
                        dataField: "Onaylandi",
                        caption: "Onaylandi"
                    },
                    {
                        dataField: "DegistirenId",
                        caption: "DegistirenId"
                    },
                    {
                        dataField: "OlusturanId",
                        caption: "OlusturanId"
                    },
                    {
                        dataField: "DegisiklikTarih",
                        caption: "DegisiklikTarih"
                    },
                    {
                        dataField: "OlusturmaTarih",
                        caption: "OlusturmaTarih"
                    },
                    {
                        dataField: "Revizyon",
                        caption: "Revizyon"
                    }
                ],
                paging: {
                    pageSize: 6
                },
                onRowInserted: function (e) {
                    rowInsert(e.data);
                },
                onRowUpdated: function (e) {
                    rowUpdate(e.data);
                },
                onRowRemoved: function (e) {
                    rowRemove(e.data.Id);
                },
                editing: {
                    mode: 'popup',
                    allowUpdating: true,
                    allowAdding: true,
                    allowDeleting: true,
                    popup: {
                        title: 'TblCmsAppMenu Info',
                        showTitle: true,
                        width: 700,
                        height: 525,
                    },
                    form: {
                        items: [
                            {
                                itemType: 'group',
                                colCount: 2,
                                colSpan: 2,
                                items: ['Name', 'NavigationId', 'Icon', 'MasterId', 'YeniSekmedeAc', 'DisUrl', 'Sira', 'ApplicationId'],
                            },
                            {
                                itemType: 'group',
                                colCount: 2,
                                colSpan: 2,
                                caption: 'TblGeneralApplication Base',
                                items: ['Revizyon', 'Aktif', 'Onaylandi', 'Silindi', 'SystemApp', 'ParametreAktif', 'DisariAcik'],
                            }],
                    },
                }
            });
        }
        function rowUpdate(Data) {
            AjaxMethod('@Url.Action("Put", "TblCmsnavYetki")', Data);
        }
        function rowInsert(Data) {
            AjaxMethod('@Url.Action("Post", "TblCmsnavYetki")', Data);
        }
        function rowRemove(Data) {
            DeleteCall('@Url.Action("Delete", "TblCmsnavYetki")', Data);
        }
        function AjaxMethod(url, Data) {
            $.ajax({
                url: url,
                type: 'POST',
                data: Data,
                dataType: 'json',
                async: false,
                cache: false,
                success: function (html) {
                    alert(html === true ? "İşlem Başarılı" : "Hatalı İşlem");
                }, error: function (xhr, status, error) {
                    alert(error.responseTextss);
                }
            });
        }

        function DeleteCall(url, Data) {
            $.ajax({
                url: url,
                type: 'POST',
                data: { id: Data },
                dataType: 'json',
                async: false,
                cache: false,
                success: function (html) {
                    alert(html === true ? "İşlem Başarılı" : "Hatalı İşlem");
                }, error: function (xhr, status, error) {
                    alert(error.responseTextss);
                }
            });
        }
    </script>
}





