@using CrudProject.ViewModels;
@model TblGeneralFavorilerViewModel



<div class="row">
    <div class="col-md-8"></div>
    <div class="col-md-4">
    </div>
</div>
<div id="gridContainer">
</div>

@section Scripts{

    <script type="text/javascript">
        $(document).ready(function () {
            var model = @Html.Raw(JsonConvert.SerializeObject(Model.TblGeneralFavorilers));
            var firma = @Html.Raw(JsonConvert.SerializeObject(Model.TblGeneralFirmas));
            var sube = @Html.Raw(JsonConvert.SerializeObject(Model.TblGeneralSubes));
            var isletme = @Html.Raw(JsonConvert.SerializeObject(Model.TblGeneralIsletmes));
            var subeKullanici = @Html.Raw(JsonConvert.SerializeObject(Model.TblGeneralSubeKullanici));
            GridData(model, firma, sube, isletme, subeKullanici)
        });
        function GridData(model, firma, sube, subeKullanici) {
            $("#gridContainer").dxDataGrid({
                dataSource: models,
                columns: [
                    {
                        dataField: "Id",
                    },
                    {
                        dataField: "IsletmeId",
                        caption: "IsletmeId",
                        lookup: {
                            dataSource: isletme,
                            displayExpr: 'Adi',
                            valueExpr: 'Id',
                        }
                    },
                    {
                        dataField: "FirmaId",
                        caption: "FirmaId",
                        lookup: {
                            dataSource: firma,
                            displayExpr: 'Adi',
                            valueExpr: 'Id',
                        }
                    },
                    {
                        dataField: "KisiId",
                        caption: "KisiId",
                        lookup: {
                            dataSource: firma,
                            displayExpr: 'UserName',
                            valueExpr: 'Id',
                        }
                    },
                    {
                        dataField: "SubeId",
                        caption: "SubeId",
                        lookup: {
                            dataSource: sube,
                            displayExpr: 'Adi',
                            valueExpr: 'Id',
                        }
                    },
                    {
                        dataField: "SubeKullaniciId",
                        caption: "SubeKullaniciId",
                        lookup: {
                            dataSource: subeKullanici,
                            displayExpr: 'Name',
                            valueExpr: 'Id',
                        }
                    },
                    {
                        dataField: "EpostaAdres",
                        caption: "EpostaAdres"
                    },
                    {
                        dataField: "Erpkodu",
                        caption: "Erpkodu"
                    },
                    {
                        dataField: "Aktif",
                        caption: "Aktif"
                    },
                    {
                        dataField: "Onaylandi",
                        caption: "Onaylandi"
                    },
                    {
                        dataField: "Silindi",
                        caption: "Silindi"
                    },
                    {
                        dataField: "Revizyon",
                        caption: "Revizyon"
                    },
                    {
                        dataField: "OlusturmaTarih",
                        caption: "OlusturmaTarih"
                    },
                    {
                        dataField: "DegisiklikTarih",
                        caption: "DegisiklikTarih"
                    },
                    {
                        dataField: "OlusturanId",
                        caption: "OlusturanId"
                    },
                    {
                        dataField: "DegistirenId",
                        caption: "DegistirenId"
                    },
                    {
                        dataField: "Guid",
                        caption: "Guid"
                    }
                ],
                paging: {
                    pageSize: 6
                },
                onRowInserted: function (e) {
                    rowInsert(e.data);
                },
                onRowUpdated: function (e) {
                    rowUpdate(e.data);
                },
                onRowRemoved: function (e) {
                    rowRemove(e.data.Id);
                },
                editing: {
                    mode: 'popup',
                    allowUpdating: true,
                    allowAdding: true,
                    allowDeleting: true,
                    popup: {
                        title: 'TblGeneralEfatMukellefMail Info',
                        showTitle: true,
                        width: 700,
                        height: 525,
                    },
                    form: {
                        items: [
                            {
                                itemType: 'group',
                                colCount: 2,
                                colSpan: 2,
                                items: ['MukellefId', 'EpostaAdres', 'Erpkodu']
                            },
                            {
                                itemType: 'group',
                                colCount: 2,
                                colSpan: 2,
                                caption: 'TblGeneralApplication Base',
                                items: ['Revizyon', 'Aktif', 'Onaylandi', 'Silindi'],
                            }
                        ],
                    },
                }
            });
        }
        function rowUpdate(Data) {
            AjaxMethod('@Url.Action("Put", "TblGeneralEfatMukellefMail")', Data);
        }
        function rowInsert(Data) {
            AjaxMethod('@Url.Action("Post", "TblGeneralEfatMukellefMail")', Data);
        }
        function rowRemove(Data) {
            DeleteCall('@Url.Action("Delete", "TblGeneralEfatMukellefMail")', Data);
        }
        function AjaxMethod(url, Data) {
            $.ajax({
                url: url,
                type: 'POST',
                data: Data,
                dataType: 'json',
                async: false,
                cache: false,
                success: function (html) {
                    alert(html === true ? "İşlem Başarılı" : "Hatalı İşlem");
                }, error: function (xhr, status, error) {
                    alert(error.responseTextss);
                }
            });
        }

        function DeleteCall(url, Data) {
            $.ajax({
                url: url,
                type: 'POST',
                data: { id: Data },
                dataType: 'json',
                async: false,
                cache: false,
                success: function (html) {
                    alert(html === true ? "İşlem Başarılı" : "Hatalı İşlem");
                }, error: function (xhr, status, error) {
                    alert(error.responseTextss);
                }
            });
        }
    </script>
}
